@model IEnumerable<BTL_LTQL.Models.Product>
@{
    ViewBag.Title = "Menproduct";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
 }


<section class="flat-row row-product-project style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-41">
                    <h2 class="title">Sản Phẩm</h2>
                </div>
                @*Tìm kiếm theo tên*@
                @*<div class="Reg-log-wrap">
                    @using (Html.BeginForm())
                    {
                    <p>
                        Tìm kiếm: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" class="mt-3 text-white" />
                        <input type="button" value="Refresh" onclick="location.href = '@Url.Action("Index", "Products")'" />
                    </p>
                    }
                </div>*@
                <div class="divider h54"></div>
                <div class="d-flex Reg-log-wrap justify-content-between">
                    <form action="/Client/ProductsClient/Menproduct" method="get">
                        <input type="submit" value="Nam" class="text-white btn btn-round btn-danger text-white" style="background-color:brown"/>
                    </form>
                    <form action="/Client/ProductsClient/Womenproduct" method="get">
                        <input type="submit" value="Nữ" class="text-white btn btn-round btn-danger text-white"  />
                    </form>
                    <form action="/Client/ProductsClient/Kidproduct" method="get">
                        <input type="submit" value="Trẻ Em" class="text-white btn btn-round btn-danger text-white" />
                    </form>
                    <input type="button" value="Tất Cả" onclick="location.href = '@Url.Action("Index", "ProductsClient")'" class="text-white btn btn-round btn-danger text-white" />
                </div>
                
                <div class="divider h54"></div>
                <div class="product-content product-fourcolumn clearfix">
                    <ul class="product style2 isotope-product clearfix">
                        @foreach (var item in Model)
                        {
                            <li class="product-item kid woman">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img height="300" src=@item.ProductImageName alt="image">
                                    </a>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">@item.ProductName</span>
                                    <div class="price">
                                        <ins>
                                            <span class="amount">@item.ProductPrice.ToString("#,##0") VND</span>
                                        </ins>
                                    </div>

                                </div>
                                <div class="add-to-cart text-center">
                                    @*@Html.ActionLink("Add to Cart", "OrderNow", "ShoppingCart", new { id = item.ProductID }, null)*@
                                    <a href="/ShoppingCart/AddtoCart/@item.ProductID" style="padding:15px 76px">Thêm Vào Giỏ</a>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


