@model BTL_LTQL.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admins/Views/Shared/Admin_Sp.cshtml";
}
<div class="Reg-log-wrap">
    <h3>Bạn chắc chắn muốn xóa sản phẩm?</h3>
</div>
<div class="divider h54"></div>
<div class="Reg-log-wrap">
    <h4>Thông tin sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

    </dl>
    <div class="divider h54"></div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-10">
                <a class="btn btn-primary mr-xl-auto" href="/Admins/ProductsAdmin/Index">Quay Lại</a>
                <input type="submit" value="Xóa" class="text-white btn btn-round btn-danger text-white handle-btn" />
            </div>

        </div>
    }
</div>
