@model BTL_LTQL.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admins/Views/Shared/Admin_Sp.cshtml";
}

<h2 class="label-reg-log-text">Chỉnh Sửa Sản Phẩm</h2>

@using (Html.BeginForm("Edit", "ProductsAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="Reg-log-wrap">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProductID)

            <div class="form-group">
                <label class="ml-3"> Tên sản phẩm</label>

                @*@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="ml-3"> Giá sản phẩm</label>

                @*@Html.LabelFor(model => model.ProductPrice, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="ml-3"> Mô tả sản phẩm</label>

                @* @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="ml-3">Loại sản phẩm</label>

                @*@Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="ml-3">Ảnh sản phẩm</label>

                @* @Html.LabelFor(model => model.ProductImageName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <input type="file" name="ProductImgFile" id="ProductImgFile" required />
                </div>
            </div>

            <div class="d-flex form-group">
                <div class="col-md-10">
                    <a class="btn btn-primary mr-xl-auto" href="/Admins/ProductsAdmin/Index">Quay Lại</a>
                    <input type="submit" value="Lưu" class="text-white btn btn-round btn-danger text-white handle-btn" />
                </div>
            </div>
        </div>
    </div>
}



