@model IEnumerable<BTL_LTQL.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Sản Phẩm</h2>

<div>
   @*@Html.ActionLink("Thêm Sản Phẩm", "Create",null,new { @class = "btn btn-create-primary" })*@
   <a href="/Admins/ProductsAdmin/Create" class="btn btn-create-primary">Thêm Sản Phẩm</a>
</div>
<table class="table">
    <tr>
        <th>
 
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName,"Loại Sản Phẩm")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
