@model BTL_LTQL.Models.Account

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="label-reg-log-text">Đăng Ký</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="container">
            <div class="d-flex col-12">
                <div class="Reg-log-wrap">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="reg-log-label">Tên Tài Khoản</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="reg-log-label control-label">Mật Khẩu</label>
                        @*@Html.LabelFor(model => model.Password, "Mật Khẩu", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="reg-log-label control-label">Nhập lại Mật Khẩu</label>
                        @*@Html.LabelFor(model => model.ConfirmPassword, "Nhập Lại Mật Khẩu", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="reg-log-label">Loại Tài Khoản</label>
                        <div class="col-md-12">
                            <select class="form-control" id="StudentGender" name="RoleID">
                                <option>client</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="Reg-log-wrap">
                    <div class="form-group">
                        <label class="reg-log-label control-label">Họ Tên</label>
                        @*@Html.LabelFor(model => model.ConfirmPassword, "Nhập Lại Mật Khẩu", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="reg-log-label control-label">Địa Chỉ</label>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="reg-log-label control-label">Số điện thoại</label>
                        @*@Html.LabelFor(model => model.ConfirmPassword, "Nhập Lại Mật Khẩu", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.sodienthoai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sodienthoai, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Tạo Tài Khoản" class="text-white btn btn-round btn-danger text-white handle-btn" style="color:white" />
                        </div>
                    </div>
                </div>                
            </div>
            
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="text" hidden value="client" class="form-control" name="RoleID" />
            </div>
        </div>
    </div>
}
