<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Online Shop</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <!-- Theme Style -->
    <link href="~/Content/stylesheets/shortcodes.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/style.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/bootstrap.css">

</head>
<body class="header_sticky header-style-1 has-menu-extra">
    <!-- Preloader -->
    <!-- Boxed -->
    <div class="boxed">
        <div id="site-header-wrap">
            <!-- Header -->
            <header id="header" class="header header-container clearfix">
                <div class="container clearfix" id="site-header-inner">
                    <div class="mobile-button"><span></span></div>

                    <div class="nav-wrap">
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li class="active">
                                    <a href="/Client/ProductsClient/Index">Trang Chủ</a>
                                </li>                                
                            </ul>
                            <ul class="menu">
                                <li>
                                    <a href="/Accounts/Register">Tạo Tài Khoản</a>

                                </li>
                                <li>
                                    <a href="/Accounts/Logout">Đăng Xuất</a>

                                </li>
                            </ul>

                        </nav><!-- /.mainnav -->
                    </div><!-- /.nav-wrap -->
                </div><!-- /.container-fluid -->
            </header><!-- /header -->
        </div><!-- /#site-header-wrap -->
    </div>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
